POSTGRES_DB=pixelchiss
POSTGRES_USER=pixelchiss
POSTGRES_PASSWORD=change_me

EUREKA_URL=http://eureka-server:8761/eureka/

DB_HOST=postgres
DB_PORT=5432
DB_NAME=${POSTGRES_DB}
DB_USERNAME=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}

# Auth Service
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

JWT_PRIVATE_KEY_PATH=/app/keys/private_key.pem
JWT_PUBLIC_KEY_PATH=/app/keys/public_key.pem